<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="src/js/AngularAlt.js"></script>
    <script src="src/js/actions/AngularActions.js"></script>
    <script src="src/js/stores/AngularStore.js"></script>
    <script src="src/js/AngularApp.js"></script>

  </head>
  <body ng-app="myApp">
    <div ng-controller="GreetingController">
      <h3>{{title}}</h3>
       <button data-ng-click="addItem()">Add Fruit</button>
      <ul>
         <li ng-repeat="d in data.foods">
            {{d.name}} 
         </li> 
      </ul>
    </div>
  </body>
</html>